{
  admin off
}

http://:80  {

	root * /app/static/
	file_server browse

	log {
		format json
		output file /logs/caddy.log {
			roll_size 50MB # Create new file when size exceeds 50MB
			roll_keep 5 # Keep at most 5 rolled files
		}
	}

	handle_path /api/* {
		reverse_proxy 127.0.0.1:8000 {
			header_up Host {host}
			header_up X-Real-IP {remote}
		}
	}

	@clickonce_app {
		path_regexp \.application$
	}
	header @clickonce_app {
		Content-Type application/x-ms-application
		Content-Disposition inline
	}

	@clickonce_manifest {
		path_regexp \.manifest$
	}
	header @clickonce_manifest {
		Content-Type application/x-ms-manifest
		Content-Disposition inline
	}

	@clickonce_deploy {
		path_regexp \.deploy$
	}
	header @clickonce_deploy {
		Content-Type application/octet-stream
	}

}