<?xml version="1.0" encoding="UTF-8"?>
<!-- IIS: place this in the root of your ClickOnce deployment directory -->
<configuration>
  <system.webServer>
    <staticContent>
      <mimeMap fileExtension=".application" mimeType="application/x-ms-application" />
      <mimeMap fileExtension=".manifest"    mimeType="application/x-ms-manifest" />
      <mimeMap fileExtension=".deploy"      mimeType="application/octet-stream" />
    </staticContent>
  </system.webServer>
</configuration>
